body {
    background-color: #99bbff;
    /* width: 70em; */
    margin: 1em; 
}

#posts {
    background-color: #ccddff;
    width: 70em;
    margin: auto;
}

footer {
    /* lado esquerdo também? */
    text-align: right;
    width: 70em;
    margin: auto;
}