html, body{
    margin: 0; 
    background-color: black;
}
body {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
}

#posts {
    width: 80%;
    margin: 0 auto 0 auto;
}

.post {
    background-color: red;
    margin: 1em auto 1em auto;
}

.comment {
    background-color: white;
    margin: 1em auto auto auto;
}

#newPost {
    width: 80%;
    margin: auto;
}

#profile {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 1em 0 1em 0;
    align-items: center;
}
#profile h2 {
    color: red;
}

#credits {
    color: black;
    background-color: #666666;
    margin-top: auto; 
    text-align: center;
}