<!DOCTYPE html>
<html>

<nav id="menu">
        <!-- just for the hamburguer menu in responsive layout -->
        <!-- tudo na mesma linha -->
        <!-- <label class="hamburger" for="hamburger"></label> -->
        <button id="logo" href="index.html">
            <h1>RedditX</h1>
        </button>
        <div id="menu-items">
            <a class="menu-item" href="index.html">New</a>
            <a class="menu-item" href="index.html">Hot</a>
            <a class="menu-item" href="index.html">Trending</a>
            <a class="menu-item" href="index.html">Gore</a>
            <a class="menu-item" href="index.html">4Chan</a>
        </div>
        <div id="submit-post">
            <a href="newPost.html">Submit New Post</a>
        </div>
        <div id="signup-login">
            <button class="button-profile" href="register.html">Profile</button>
        </div>
    </nav>

</html>
