<!DOCTYPE html>
<html>
    
  <section id="newPost">

    <header><h2>New Post</h2></header>

    <form method="post" action="action_newPost.php">
        <div id="inputs">
        <textarea id="title" type="postTitle" name="postTitle" placeholder="postTitle" rows="3" required></textarea>
        <textarea id="content" type="postText" name="postText" placeholder="postText" rows="20" required></textarea>
        <input id="submit" type="submit" value="Submit">
        </div>
    </form>
    </section>
    
</html>