<!DOCTYPE html>
<html>

    
    <div class="post">
        <div class="vote">
            <button id="upvote"><img src="../resources/feup.png" alt="Upvote" height="30" width="30" align="middle"></button>
            <div id="ratio" >999999</div>
            <button id="downvote"><img src="../resources/isep.jpg" alt="Downvote" height="30" width="30" align="middle"></button>
        </div>
        <article class="content">
            <header>
                <h1><a class="content-title" href="post.html">Quisque a dapibus magna, non scelerisque</a></h1>
            </header>
            <p>Etiam massa magna, condimentum eu facilisis sit amet, dictum ac purus. Curabitur semper nisl vel
                libero
                pulvinar ultricies. Proin dignissim dolor nec scelerisque bibendum. Maecenas a sem euismod, iaculis
                erat id, convallis arcu. Ut mollis, justo vitae suscipit imperdiet, eros dui laoreet enim,
                fermentum
                posuere felis arcu vel urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere
                cubilia Curae; Proin blandit</p>
            <footer class="relevance">
                <span class="author">UserName</span>
                <span class="date">15 mins. ago</span>
                <a class="comments">2.1k comments</a>
            </footer>
        </article>
    </div>

</html>
